page-accept-apply-item {
    .cards-list-whole {
        margin: 0px 9px 0px 9px;
    }

    .cards-item-line {
        background-color: white;
    }
    .cards-lable-feild{
        width:100px;
    }

    .cards-input-feild{
        border: solid 1px black;
    }
    .cards-select-feild{
        width:100%;
    }
}
