page-asset-details-list {

    .frist-col{
        width:26%;
        
    }
    .sencond-col{
        width:26%;
    }
    .three-col{
        width:26%;
    }
    .fouth-col{
        width:22%;
    }

}
