<ion-header>
  <ion-navbar color='dark'>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header text-center>
      <h2>通知公告</h2><ion-icon name="more" item-end></ion-icon>
     </ion-list-header>
      <!-- <button ion-item *ngFor="let item of notices" (click)="itemSelected(item)">
        {{ item.name }}
      </button>  -->
      <ion-item *ngFor="let item of notices" (click)="itemSelected(item)">
          <ion-icon item-start name="notifications" color='danger'></ion-icon>
          {{ item.name }}
      </ion-item> 
      <ion-item-divider color="light"></ion-item-divider>
    </ion-list>
  <!-- <p style="background: #B9BECB;"><br/></p> -->
  
  <ion-list padding-vertical>
    <!-- <ion-list-header text-center>
      <h2>代办事项</h2>
    </ion-list-header> -->
      <ion-row>
        <ion-col col-4 (click)="openPage('collects')">
          <div text-center>
            <img color="secondary" class='imgSize' src='{{htPath}}'/>
            <p>合同审批</p>
          </div>
        </ion-col>
        <ion-col col-4 (click)="openPage('messages')">
          <div text-center>
            <img color="secondary" class='imgSize' src='{{yfkPath}}'/>
            <p>付款审批</p>
            <ion-badge *ngIf="messageCount" color="danger" class="brage">{{messageCount}}</ion-badge>
          </div>
      </ion-col>
        <ion-col col-4 (click)="openPage('topics1')" >
          <div text-center>
            <img color="primary"  class='imgSize' src='{{ysPath}}'/>
            <p>验收审批</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 (click)="openPage('topics2')">
          <div text-center>
            <img color="danger"  class='imgSize' src='{{zzPath}}'/>
            <p>转资审批</p>
          </div>
        </ion-col>
        <ion-col col-4 (click)="openPage('topics3')" >
          <div text-center>
            <img color="secondary"  class='imgSize' src='{{zztzPath}}'/>
            <p>转资调整审批</p>
          </div>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>
