<!--
  Generated template for the AssetDetailsItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>资产明细</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-background">
	<form [formGroup]="assetFrom" (ngSumbit)="onSubmit()">
		<ion-list class="cards-list-whole">
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">序号</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">资产类型</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">资产类别</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">资产编码</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">资产名称</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">所属单位</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">所属资产组</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">规格型号</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工输入"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">车牌井号</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工输入"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">计量单位</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">制作厂家</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工输入"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">出厂编号</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工输入"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">出厂日期</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">投产日期</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">使用方向</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">合同编号</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">取得方式</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">保修截止日期</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工输入"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">预计使用年限</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">使用状态</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">存放地点</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">保管人</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">技术部门</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="手工选择"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">原值</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">净值</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">累计折旧</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
            <ion-item class="cards-item-line">
                <ion-label class="cards-lable-feild">减值准备</label>
                <ion-input class="cards-input-feild" formControlName="" placeholder="自动填写，禁止调整"></ion-input>
            </ion-item>
            <div *ngIf="verifyMessages.name.errorMsg" class="validation-failed">
                 {{verifyMessages.name.errorMsg}}
             </div>
		</ion-list>
        <div padding-horizontal>
            <button ion-button block type="submit" [disabled]="!assetFrom.valid">保 存</button>
        </div>
	</form>

</ion-content>
