page-asset-details-item {
    .cards-div-whole {
        margin: 0px 9px 0px 15px;
    }

    .cards-div-line {
        display: inline;
        margin: 0px 0px 0px 1px;
        vertical-align: central;
        left: 0px;
        background-color: white;
    }

    .cards-lable-feild {
        width: 49px;
    }

    .cards-input-feild {
        height: 23px;
    }

    .cards-input-able {
    }

    .cards-input-disable {
    }

    .button-class {
    }
}

