page-asset-details-item {
    .cards-list-whole {
        margin: 0px 9px 0px 15px;
    }

    .cards-item-line {
        background-color: white;
    }

    .cards-lable-feild{
        width:90px;
    }

    .cards-input-feild{
    }
    .cards-select-feild{
        width:100%;
        left:0;
    }
}

