page-accept-apply-list {
    .input-sreach {
        margin: 0px 5px 0px 1px;
        border: solid 1px black;
        height: 13px;
        width: auto;
    }

    .list-ul {
        list-style-type: none;
        padding: 0;
    }

    .list-ul li {
        cursor: pointer;
        background-color: white;
        margin: 0px 8px 0px 0px;
    }

    .selected {
        background-color: #CFD8DC !important;
        color: white;
    }

    .list-div-info {
    }

    .list-div-line {
        display: inline;
    }

    .list-label-header {
    }

    .list-label-show {
    }
}
